html {
    font-size: 62.5%;
    line-height: 1.6;
    background-color: $accentColorA;
    scroll-behavior: smooth;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1140;
}

img {
    max-width: 100%;
    height: auto;
}

h3 {
    color: $secondaryColor;
    font-family: $primaryFont;
    font-weight: 700;
    font-size: 3.3rem;
    text-transform: uppercase;
    margin: 0;
}

li {
    list-style: none;
}
