// * {
//     margin: 0;
//     padding: 0;
// }

html {
    font-size: 62.5%;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1140;
    // adjust this max width!
}

img {
    max-width: 100%;
    height: auto;
}

// h1

// h2

// h3
h3 {
    color: $secondaryColor;
    font-family: $primaryFont;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}
// h4 

// h5

// h6

li {
    list-style: none;
}
