header {
    background-color: dimgray;
    height: 110vh;
    color: white;
}

// topHeader - empty now, will contain logo & burger menu button
.topHeader {
    border: 2px solid coral;
    height: 5%;
}

// logo and burger menu button here

// ------------------------------------------------- Mid section (h1, h2, hire me button) ---------------------------------
.midHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 70%;
    margin: 0 auto;
    border: 2px solid yellowgreen;
}

h1 {
    font-family: $secondaryFont;
    font-weight: 600;
    font-size: 6rem;
    margin: 20px 0;
    border: 2px solid fuchsia;
}

h2 {
    font-family: $secondaryFont;
    font-weight: 700;
    font-size: 3rem;
    margin: 0 0 20px 0;
    border: 2px dotted blue;
}

// anchor
.hireMe {
    align-self: flex-start;
    font-family: $primaryFont;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    // fix the width
    padding: 5px 10px;
    border: 2px solid white;
}

// lower nav bar section
.lowHeader {
    height: 5%;
    background-color: #333333;
    border: 2px solid yellow;
}

.stickyNav {
    height: 100%;
    display: flex;
    align-items: center;
    border: 2px dashed aqua;
        a {
            font-family: $primaryFont;
            font-weight: 500;
            font-size: 1.7rem;
            text-decoration: none;
            color: white;
            border: 2px solid red;
        }
}
