header {
    // background-color: dimgray;
    background-image: url(../assets/IMG_5820cm.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
    color: white;
}

// topHeader - empty now, will contain logo & burger menu button
.topHeader {
    // border: 2px solid coral;
    height: 6%;
}

// logo and burger menu button here

// ------------------------------------------------- Mid section (h1, h2, hire me button) ---------------------------------
.midHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 88%;
    width: 70%;
    margin: 0 auto;
    // border: 2px solid yellowgreen;
}

h1 {
    font-family: $secondaryFont;
    font-weight: 600;
    font-size: 5rem;
    margin: 20px 0;
    // border: 2px solid fuchsia;
}

h2 {
    font-family: $secondaryFont;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0 0 20px 0;
    // border: 2px dotted blue;
}

// anchor
.hireMe {
    align-self: flex-start;
    font-family: $primaryFont;
    font-weight: 500;
    font-size: 1.9rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: 2px solid white;
}

.hireMe:hover {
    background-color: black;
}

// lower nav bar section
.lowHeader {
    height: 6%;
    background-color: $primaryColor;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    // z-index: 9000;
    // border: 2px solid yellow;
}

.stickyNav {
    height: 100%;
    display: flex;
    align-items: center;
    // border: 2px dashed aqua;
        a {
            font-family: $primaryFont;
            font-weight: 500;
            font-size: 1.7rem;
            text-decoration: none;
            color: white;
            padding: 5px;
            margin-right: 50px;
            // border-bottom: 2px solid white;
            // text-decoration: underline;
        }
}
