// all sections in main
.aboutMe,
.experience,
.skillsIcons,
.sayHello,
.portfolio,
.contact {
    margin-top: 75px;
}

// ------------- aboutMe section -------------------
.aboutMe {
    color: $secondaryColor;
    font-family: $primaryFont;
    display: flex;
}

.aboutText {
    width: calc(100% / 2);
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
        p {
            font-size: 2rem;
            margin: 20px 0;
        }
}

.aboutMe h3 {
    max-width: 215px;
    position: relative;
}

.aboutMe h3::before {
    content: '';
    height: 5px;
    width: 18%;
    background-color: $secondaryColor;
    position: absolute;
    top: -10px;
    left: 1%;
}

// a tag
.downloadCV {
    align-self: flex-start;
    padding: 8px;
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 700;
    text-decoration: none;
    color: $accentColorB;
    border: 2px solid $accentColorB;
}

.downloadCV:hover {
    background-color: $accentColorC;
    color: $accentColorA;
    border: 2px solid $accentColorC;
}

.aboutImg {
    width: calc(100% / 2);
    padding-left: 25px;
}

// ------------- EXPERIENCE SECTION -------------------
.experience {
    margin-top: 75px;
    display: flex;
    color: $secondaryColor;
    font-family: $primaryFont;
}

// Education
.education {
    width: calc(100% / 2);
    padding-right: 25px;
    position: relative;
        ul {
            margin-left: 40px;
        }
}

.education::before {
    content: '';
    height: 85%;
    width: 2px;
    background-color: $secondaryColor;
    position: absolute;
    left: 10px;
    bottom: 27px;
}

// h4 - education & skill titles
h4 {
    margin: 0;
    font-size: 3rem;
    text-transform: uppercase;
}

.experience ul {
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.experience li {
    margin: 10px 0;
    position: relative;
}

// h5 - education sub headings
h5 {
    color: $primaryColor;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0;
}

.education h5::before {
    content: '';
    height: 20px;
    width: 20px;
    background-color: $accentColorA;
    border: 1px solid $secondaryColor;
    border-radius: 50%;
    position: absolute;
    left: -39px;
    top: 8px;
}

.experience p {
    margin: 5px 0;
    font-size: 2rem;
}

.dateOfEd {
    font-size: 1.6rem;
    font-weight: 700;
}

// Skill section
.skill {
    width: calc(100% / 2);
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li {
            text-align: center;
            width: calc(100% / 3);
            font-size: 5.5rem;
            text-transform: uppercase;
        }
    }
    
}

// ====== PORTFOLIO GALLERY SECTION =============
.portfolio h3 {
    text-align: center;
    position: relative;
}

.portfolio h3::before {
    content: '';
    height: 5px;
    width: 6%;
    background-color: $secondaryColor;
    position: absolute;
    top: -10px;
    left: 47%;
}

// ul element
.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
        li {
            width: calc((100% - 30px) / 2);
            margin-right: 30px;
        }
        li:nth-child(2n) {
            margin-right: 0;
        }
        li:nth-child(-n+2) {
            margin-bottom: 30px;
        }
}

.portGallery img {
    width: 100%;
}

.projectContainer {
    position: relative;
}

.projectCaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $primaryColor;
    color: $accentColorA;
    font-family: $primaryFont;
    position: absolute;
    height: 98.5%;
    width: 100%;
    padding: 15px;
    opacity: 0;
        p {
            font-size: 1.6rem;
            margin: 0;
        }
        h5 {
            color: $accentColorC;
        }
        h6 {
            color: $accentColorC;
            font-size: 2rem;
            margin: 0;
        }
        a {
            align-self: flex-start;
            font-family: $primaryFont;
            font-weight: 500;
            font-size: 1.6rem;
            text-transform: uppercase;
            text-decoration: none;
            color: $accentColorA;
            padding: 5px 10px;
            border: 2px solid $accentColorA;
        }
        a:hover {
            background-color: $accentColorC;
            border: 2px solid $accentColorC;
        }
}

.projectCaption:hover {
    opacity: 1;
    transition: all .2s ease-in-out;
}

// ====== CONTACT SECTION ==========
.contact {
    background-image: url(../assets/IMG_6479m.jpg);
    background-size: cover;
    background-position: center;
    color: $accentColorA;
}

.contact h3 {
    color: $accentColorA;
    text-align: center;
    padding: 75px 0 50px 0;
    position: relative;
}

.contact h3::before {
    content: '';
    height: 5px;
    width: 6%;
    background-color: $accentColorA;
    position: absolute;
    top: 65px;
    left: 47%;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60%;
    margin: 0 auto;
    font-size: 1.8rem;
        input,
        textarea {
            font-family: $primaryFont;
            color: $primaryColor;
            margin-top: 15px;
            padding: 10px;
        }
}

.contactForm input {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
}

.contactForm input:nth-child(n+3) {
    margin-right: 0;
}

.topInputsContainer {
    display: flex;
}
.contactForm button {
    align-self: center;
    border: none;
    font-family: $primaryFont;
    font-size: 1.8rem;
    font-weight: 700;
    color: $primaryColor;
    background-color: $accentColorA;
    padding: 10px 20px;
    margin-top: 15px;
}

.contactForm button:hover {
    background-color: $accentColorC;
    color: $accentColorA;
}

.contactNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid $accentColorA;
    margin-top: 25px;
}
.contactNav ul {
    flex-grow: 2;
    display: flex;
    padding: 0;
}

.contactNav li {
    margin-right: 20px;
}
.contactNav a {
    color: $accentColorA;
}

.contactNav i {
    font-size: 3rem;
}

.contactNav i:hover {
    color: $accentColorC;
    transform: scale(1.3);
}

.returnHome i {
    font-size: 3.5rem;
}

// FOOTER
footer {
    background-color: $primaryColor;
    color: $accentColorA;
    font-family: $primaryFont;
    font-size: 1.6rem;
    padding: 10px 0;
    text-align: center;
        p {
            margin: 0;
        }
}
