// all sections in main
.aboutMe,
.experience,
.skillsIcons,
.sayHello,
.portfolio,
.contact {
    margin-top: 75px;
}

// ------------- aboutMe section -------------------
.aboutMe {
    // height: 50vh;
    color: $secondaryColor;
    font-family: $primaryFont;
    display: flex;
    // about me has two divs .aboutText & .aboutImg
    // border: 2px solid yellowgreen;
}

.aboutText {
    width: calc(100% / 2);
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 2px solid red;
        p {
            font-size: 1.6rem;
            margin: 20px 0;
            // border: 2px dotted fuchsia;
        }
}

// move to global - all h1-h6
.aboutMe h3 {
    max-width: 215px;
    position: relative;
    // border: 2px dashed blue;
}

.aboutMe h3::before {
    content: '';
    height: 5px;
    width: 18%;
    background-color: $secondaryColor;
    position: absolute;
    top: -10px;
    left: 1%;
}

// a tag
.downloadCV {
    align-self: flex-start;
    padding: 8px;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
    border: 2px solid black;
}

.downloadCV:hover {
    background-color: $primaryColor;
    color: white;
}

.aboutImg {
    width: calc(100% / 2);
    padding-left: 25px;
}

// ------------- EXPERIENCE SECTION -------------------
.experience {
    margin-top: 75px;
    display: flex;
    // experience has two children sections- education & skills
    color: $secondaryColor;
    font-family: $primaryFont;
    // border: 2px solid chocolate;
}

// Education
.education {
    width: calc(100% / 2);
    padding-right: 25px;
    position: relative;
    // border: 2px dotted teal;
        ul {
            margin-left: 40px;
        }
}

.education::before {
    content: '';
    height: 80%;
    width: 2px;
    background-color: $secondaryColor;
    position: absolute;
    left: 10px;
    bottom: 27px;
}

h4 {
    // education & skill titles
    margin: 0;
    font-size: 2.4rem;
    text-transform: uppercase;
    // border: 2px dashed blue;
}

.experience ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    // border: 2px solid yellow;
}

.experience li {
    margin: 10px 0;
    // border: 2px solid purple;
    position: relative;
}

h5 {
    // in education & skill (sub headings)
    color: $primaryColor;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    // border: 2px solid black;
}

.education h5::before {
    content: '';
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid $secondaryColor;
    border-radius: 50%;
    position: absolute;
    left: -39px;
    
}

.experience p {
    margin: 5px 0;
    font-size: 1.4rem;
    // border: 2px dashed red;
}

.dateOfEd {
    font-size: 1.6rem;
    font-weight: 700;
    // border: 2px solid fuchsia;
}

// Skill section
.skill {
    width: calc(100% / 2);
    padding-left: 25px;
    // border: 2px solid olivedrab;
    li {
        display: flex;
        justify-content: space-between;
        margin: 25px;
    }
}
.skill h5 {
    font-size: 1.6rem;
}

// FIX THESE BEFORE AND AFTER ELEMENTS!!!!!!!!!!!!!!!!!
.htmlAndCss::before,
.javascript::before,
.react::before,
.somethingElse::before {
    content: '';
    width: 100%;
    height: 16px;
    border: 2px solid $secondaryColor;
    border-radius: 15px;
    // background: grey;
    position: absolute;
    bottom: -30px;
    right: 0;
}
// after elements for each skill li ->
.htmlAndCss::after {
    content: '';
    width: 92%;
    height: 10px;
    // border: 2px solid $primaryColor;
    border-radius: 15px;
    background: $primaryColor;
    position: absolute;
    bottom: -27px;
    left: 3px;
}

.javascript::after {
    content: '';
    width: 65%;
    height: 10px;
    // border: 2px solid $primaryColor;
    border-radius: 15px;
    background: $primaryColor;
    position: absolute;
    bottom: -27px;
    left: 3px;
}
.react::after {
    content: '';
    width: 75%;
    height: 10px;
    // border: 2px solid $primaryColor;
    border-radius: 15px;
    background: $primaryColor;
    position: absolute;
    bottom: -27px;
    left: 3px;
}
.somethingElse::after {
    content: '';
    width: 75%;
    height: 10px;
    // border: 2px solid $primaryColor;
    border-radius: 15px;
    background: $primaryColor;
    position: absolute;
    bottom: -27px;
    left: 3px;
}

// PORTFOLIO GALLERY SECTION
// .portfolio{
//     border: 2px solid coral;
// }

.portfolio h3 {
    text-align: center;
    position: relative;
    // border: 2px solid teal;
}

.portfolio h3::before {
    content: '';
    height: 5px;
    width: 6%;
    background-color: $secondaryColor;
    position: absolute;
    top: -10px;
    left: 47%;
}

// .portGallery {
//     // border: 2px solid blue;
// }

.galleryContainer {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
        li {
            // border: 2px dotted deeppink;
            width: calc((100% - 30px) / 2);
            margin-right: 30px;
                img {
                    width: 100%;
                }
        }
        li:nth-child(2n) {
            margin-right: 0;
        }
        li:nth-child(-n+2) {
            margin-bottom: 30px;
        }
}

// SETTINGS FOR 3 IN A ROW GALLERY
// .galleryContainer {
//     display: flex;
//     // flex-direction: column;
//     flex-wrap: wrap;
//     padding: 30px;
//         li {
//             list-style: none;
//             border: 2px dotted deeppink;
//             width: calc((100% - 60px) / 3);
//             margin-right: 30px;
//                 img {
//                     width: 100%;
//                 }
//         }
//         li:nth-child(3n) {
//             margin-right: 0;
//         }
//         li:nth-child(-n+3) {
//             margin-bottom: 30px;
//         }
// }


// ====== CONTACT SECTION ==========
.contact {
    background-image: url(../assets/IMG_6479m.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.contact h3 {
    color: white;
    text-align: center;
    padding: 75px;
    position: relative;
    // border: 2px solid green;
}

.contact h3::before {
    content: '';
    height: 5px;
    width: 6%;
    background-color: white;
    position: absolute;
    top: 65px;
    left: 47%;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60%;
    margin: 0 auto;
    font-size: 1.4rem;
    // border: 2px solid red;
        input,
        textarea {
            font-family: $primaryFont;
            color: $primaryColor;
            margin-top: 15px;
            padding: 10px;
        }
}

.contactForm input {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
}

.contactForm input:nth-child(n+3) {
    margin-right: 0;
}

.topInputsContainer {
    display: flex;
}
.contactForm button {
    align-self: center;
    border: none;
    font-family: $primaryFont;
    font-size: 1.4rem;
    font-weight: 700;
    color: $primaryColor;
    background-color: white;
    padding: 10px 20px;
    margin-top: 15px;
}

.contactForm button:hover {
    background-color: black;
    color: white;
}

.contact ul {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
    // border: 2px solid cornflowerblue;
}

.contact a {
    color: white;
}


.contact i {
    font-size: 4rem;
}

.contact i:hover {
    // color: black;
    transform: scale(1.3);
}
