// mid size ==============================================
@media (max-width: 749px) {
    // ul element - two column
    // .galleryContainer {
    //     display: flex;
    //     // flex-direction: column;
    //     flex-wrap: wrap;
    //     padding: 30px;
    //         li {
    //             // border: 2px dotted deeppink;
    //             width: calc((100% - 30px) / 2);
    //             margin-right: 30px;
    //         }
    //         li:nth-child(2n) {
    //             margin-right: 0;
    //         }
    //         li:nth-child(-n+2) {
    //             margin-bottom: 30px;
    //         }
    // }




}


// cell phone =============================================
@media (max-width: 400px) {
    // HEADER SECTION
    header {
        height: 70vh;
    }

    .midHeader {
        width: 90%;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    .hireMe {
        font-size: 1.6rem;
    }

    .stickyNav {
        a {
            font-size: 1.4rem;
            margin-right: 15px;
        }
    }

    // MAIN SECTION START
    .aboutMe,
    .experience,
    .skillsIcons,
    .sayHello,
    .portfolio,
    .contact {
        margin-top: 50px;
    }

    .aboutMe {
        flex-direction: column-reverse;
    }

    .aboutText,
    .aboutImg {
        width: 100%;
        padding: 0;
    }

    .aboutMe h3 {
        max-width: 100%;
        font-size: 2.3rem;
        margin-top: 25px;
    }

    // EXPERIENCE SECTION
    .experience {
        flex-direction: column;
    }

    .education,
    .skill {
        width: 100%;
        padding: 0;
    }

    h4 {
        font-size: 2.3rem;
    }

    .skill {
        // padding-left: 0;
        li {
            margin: 25px 0;
        }
    }

    // PORTFOLIO SECTION
    .portfolio h3 {
        font-size: 2.3rem;
    }

    .galleryContainer {
        padding: 20px;
            li {
                width: 100%;
                margin: 5px;
            }
            li:nth-child(2n) {
                margin-right: 5px;
            }
            li:nth-child(-n+2) {
                margin-bottom: 5px;
            }
    }

// CONTACT SECTION
    .contact h3 {
        padding: 50px;
    }










}