// Colors:

//dark grey
$primaryColor: #333333;
// light grey
$secondaryColor: #6F6F6F;

$accentColorA: #FFFFFF;
$accentColorB: black;
$accentColorC: #FF70A6;


// Fonts
$primaryFont: 'Asap', sans-serif;
$secondaryFont: 'Josefin Sans', sans-serif;


