html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  background-color: #FFFFFF;
  scroll-behavior: smooth;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1140;
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  color: #6F6F6F;
  font-family: "Asap", sans-serif;
  font-weight: 700;
  font-size: 3.3rem;
  text-transform: uppercase;
  margin: 0;
}

li {
  list-style: none;
}

header {
  background-image: url(../assets/IMG_5603.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110vh;
  color: #FFFFFF;
}

.midHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 88%;
  width: 70%;
  margin: 0 auto;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 5.5rem;
  margin: 20px 0;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  margin: 0 0 20px 0;
}

.hireMe {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Asap", sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  padding: 5px 10px;
  border: 2px solid #FFFFFF;
}

.hireMe:hover {
  background-color: #FF70A6;
  border: 2px solid #FF70A6;
}

.lowHeader {
  height: 6%;
  background-color: #333333;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9000;
}

.stickyNav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stickyNav a {
  font-family: "Asap", sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  text-decoration: none;
  color: #FFFFFF;
  padding: 5px;
  margin-right: 50px;
}
.stickyNav a:hover {
  -webkit-text-decoration: 2px underline #FF70A6;
          text-decoration: 2px underline #FF70A6;
}

.aboutMe,
.experience,
.skillsIcons,
.sayHello,
.portfolio,
.contact {
  margin-top: 75px;
}

.aboutMe {
  color: #6F6F6F;
  font-family: "Asap", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutText {
  width: calc(100% / 2);
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutText p {
  font-size: 2rem;
  margin: 20px 0;
}

.aboutMe h3 {
  max-width: 215px;
  position: relative;
}

.aboutMe h3::before {
  content: "";
  height: 5px;
  width: 18%;
  background-color: #6F6F6F;
  position: absolute;
  top: -10px;
  left: 1%;
}

.downloadCV {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 8px;
  text-transform: uppercase;
  font-size: 1.9rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
  border: 2px solid black;
}

.downloadCV:hover {
  background-color: #FF70A6;
  color: #FFFFFF;
  border: 2px solid #FF70A6;
}

.aboutImg {
  width: calc(100% / 2);
  padding-left: 25px;
}

.experience {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6F6F6F;
  font-family: "Asap", sans-serif;
}

.education {
  width: calc(100% / 2);
  padding-right: 25px;
  position: relative;
}
.education ul {
  margin-left: 40px;
}

.education::before {
  content: "";
  height: 85%;
  width: 2px;
  background-color: #6F6F6F;
  position: absolute;
  left: 10px;
  bottom: 27px;
}

h4 {
  margin: 0;
  font-size: 3rem;
  text-transform: uppercase;
}

.experience ul {
  padding: 0;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experience li {
  margin: 10px 0;
  position: relative;
}

h5 {
  color: #333333;
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0;
}

.education h5::before {
  content: "";
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  border: 1px solid #6F6F6F;
  border-radius: 50%;
  position: absolute;
  left: -39px;
  top: 8px;
}

.experience p {
  margin: 5px 0;
  font-size: 2rem;
}

.dateOfEd {
  font-size: 1.6rem;
  font-weight: 700;
}

.skill {
  width: calc(100% / 2);
}
.skill ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skill ul li {
  text-align: center;
  width: calc(100% / 3);
  font-size: 5.5rem;
  text-transform: uppercase;
}

.portfolio h3 {
  text-align: center;
  position: relative;
}

.portfolio h3::before {
  content: "";
  height: 5px;
  width: 6%;
  background-color: #6F6F6F;
  position: absolute;
  top: -10px;
  left: 47%;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
}
.galleryContainer li {
  width: calc((100% - 30px) / 2);
  margin-right: 30px;
}
.galleryContainer li:nth-child(2n) {
  margin-right: 0;
}
.galleryContainer li:nth-child(-n+2) {
  margin-bottom: 30px;
}

.portGallery img {
  width: 100%;
}

.projectContainer {
  position: relative;
}

.projectCaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #333333;
  color: #FFFFFF;
  font-family: "Asap", sans-serif;
  position: absolute;
  height: 98.5%;
  width: 100%;
  padding: 15px;
  opacity: 0;
}
.projectCaption p {
  font-size: 1.6rem;
  margin: 0;
}
.projectCaption h5 {
  color: #FF70A6;
}
.projectCaption h6 {
  color: #FF70A6;
  font-size: 2rem;
  margin: 0;
}
.projectCaption a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Asap", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  padding: 5px 10px;
  border: 2px solid #FFFFFF;
}
.projectCaption a:hover {
  background-color: #FF70A6;
  border: 2px solid #FF70A6;
}

.projectCaption:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact {
  background-image: url(../assets/IMG_6479m.jpg);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
}

.contact h3 {
  color: #FFFFFF;
  text-align: center;
  padding: 75px 0 50px 0;
  position: relative;
}

.contact h3::before {
  content: "";
  height: 5px;
  width: 6%;
  background-color: #FFFFFF;
  position: absolute;
  top: 65px;
  left: 47%;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 60%;
  margin: 0 auto;
  font-size: 1.8rem;
}
.contactForm input,
.contactForm textarea {
  font-family: "Asap", sans-serif;
  color: #333333;
  margin-top: 15px;
  padding: 10px;
}

.contactForm input {
  width: calc((100% - 20px) / 2);
  margin-right: 20px;
}

.contactForm input:nth-child(n+3) {
  margin-right: 0;
}

.topInputsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactForm button {
  -ms-flex-item-align: center;
      align-self: center;
  border: none;
  font-family: "Asap", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #333333;
  background-color: #FFFFFF;
  padding: 10px 20px;
  margin-top: 15px;
}

.contactForm button:hover {
  background-color: #FF70A6;
  color: #FFFFFF;
}

.contactNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #FFFFFF;
  margin-top: 25px;
}

.contactNav ul {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.contactNav li {
  margin-right: 20px;
}

.contactNav a {
  color: #FFFFFF;
}

.contactNav i {
  font-size: 3rem;
}

.contactNav i:hover {
  color: #FF70A6;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.returnHome i {
  font-size: 3.5rem;
}

footer {
  background-color: #333333;
  color: #FFFFFF;
  font-family: "Asap", sans-serif;
  font-size: 1.6rem;
  padding: 10px 0;
  text-align: center;
}
footer p {
  margin: 0;
}

@media (max-width: 1100px) {
  .galleryContainer {
    padding: 20px;
  }
  .galleryContainer li {
    width: 100%;
    margin: 5px;
  }
  .galleryContainer li:nth-child(2n) {
    margin-right: 5px;
  }
  .galleryContainer li:nth-child(-n+2) {
    margin-bottom: 5px;
  }

  .projectCaption {
    padding: 40px;
  }
  .projectCaption p {
    font-size: 2rem;
  }
  .projectCaption h5 {
    font-size: 2.4rem;
  }
  .projectCaption h6 {
    font-size: 2.2rem;
  }
  .projectCaption a {
    font-size: 1.8rem;
  }
}
@media (max-width: 950px) {
  .experience {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .education,
.skill {
    width: 100%;
  }

  .skill {
    margin-top: 75px;
  }
  .skill ul li {
    width: calc(100% / 4);
  }
}
@media (max-width: 800px) {
  .wrapper {
    width: 90%;
  }

  header {
    height: 70vh;
  }

  .midHeader {
    width: 90%;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  .hireMe {
    font-size: 1.6rem;
  }

  .stickyNav a {
    font-size: 1.4rem;
    margin-right: 15px;
  }

  .aboutMe,
.experience,
.skillsIcons,
.sayHello,
.portfolio,
.contact {
    margin-top: 50px;
  }

  .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .aboutText,
.aboutImg {
    width: 100%;
    padding: 0;
  }

  .aboutMe h3 {
    max-width: 100%;
    font-size: 2.3rem;
    margin-top: 25px;
  }

  .experience {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .education,
.skill {
    width: 100%;
    padding: 0;
  }

  h4 {
    font-size: 2.3rem;
  }

  .skill li {
    margin: 25px 0;
  }

  .portfolio h3 {
    font-size: 2.3rem;
  }

  .projectCaption {
    padding: 15px;
  }
  .projectCaption p {
    font-size: 1.6rem;
  }
  .projectCaption h5 {
    font-size: 2rem;
  }
  .projectCaption h6 {
    font-size: 1.8rem;
  }
  .projectCaption a {
    font-size: 1.6rem;
  }

  .contact h3 {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .contact h3:before {
    top: 45px;
  }

  .contactForm {
    max-width: 100%;
  }

  .topInputsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contactForm input {
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 550px) {
  .wrapper {
    width: 90%;
  }

  .experience p {
    font-size: 1.8rem;
  }

  .education::before {
    height: 87%;
  }

  .skill ul {
    font-size: 1.6rem;
  }
  .skill ul li {
    width: calc(100% / 3);
    font-size: 4.5rem;
  }

  .projectCaption {
    padding: 5px;
  }
  .projectCaption p {
    font-size: 1.6rem;
  }
  .projectCaption h5 {
    font-size: 1.8rem;
  }
  .projectCaption h6 {
    font-size: 1.6rem;
  }
  .projectCaption a {
    font-size: 1.5rem;
    padding: 2px 5px;
  }
}
@media (max-width: 450px) {
  .projectCaption {
    background-color: #FFFFFF;
    position: relative;
    height: 100%;
    padding: 5px;
    opacity: 1;
  }
  .projectCaption p {
    color: #6F6F6F;
  }
  .projectCaption h5 {
    color: #333333;
  }
  .projectCaption h6 {
    color: #333333;
  }
  .projectCaption a {
    color: black;
    border: 2px solid black;
  }
}