html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1140;
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  color: #6F6F6F;
  font-family: "Asap", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
}

li {
  list-style: none;
}

header {
  background-image: url(../assets/IMG_5820cm.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110vh;
  color: white;
}

.topHeader {
  height: 6%;
}

.midHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 88%;
  width: 70%;
  margin: 0 auto;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 5rem;
  margin: 20px 0;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0 0 20px 0;
}

.hireMe {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Asap", sans-serif;
  font-weight: 500;
  font-size: 1.9rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border: 2px solid white;
}

.lowHeader {
  height: 6%;
  background-color: #333333;
}

.stickyNav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stickyNav a {
  font-family: "Asap", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  text-decoration: none;
  color: white;
  padding: 5px;
  margin-right: 50px;
}

.aboutMe,
.experience,
.skillsIcons,
.sayHello,
.portfolio,
.contact {
  margin-top: 75px;
}

.aboutMe {
  color: #6F6F6F;
  font-family: "Asap", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutText {
  width: calc(100% / 2);
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutText p {
  font-size: 1.6rem;
  margin: 20px 0;
}

.aboutMe h3 {
  max-width: 215px;
}

.downloadCV {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 8px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
  border: 2px solid black;
}

.aboutImg {
  width: calc(100% / 2);
  padding-left: 25px;
}
.experience {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6F6F6F;
  font-family: "Asap", sans-serif;
}

.education {
  width: calc(100% / 2);
  padding-right: 25px;
  position: relative;
}
.education ul {
  margin-left: 40px;
}

.education::before {
  content: "";
  height: 80%;
  width: 2px;
  background-color: #6F6F6F;
  position: absolute;
  left: 10px;
  bottom: 27px;
}

h4 {
  margin: 0;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.experience ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experience li {
  margin: 10px 0;
  position: relative;
}

h5 {
  color: #333333;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.education h5::before {
  content: "";
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid #6F6F6F;
  border-radius: 50%;
  position: absolute;
  left: -39px;
}

.experience p {
  margin: 5px 0;
  font-size: 1.4rem;
}

.dateOfEd {
  font-size: 1.6rem;
  font-weight: 700;
}

.skill {
  width: calc(100% / 2);
  padding-left: 25px;
}
.skill li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px;
}

.skill h5 {
  font-size: 1.6rem;
}

.htmlAndCss::before,
.javascript::before,
.react::before,
.somethingElse::before {
  content: "";
  width: 100%;
  height: 16px;
  border: 2px solid #6F6F6F;
  border-radius: 15px;
  position: absolute;
  bottom: -30px;
  right: 0;
}

.htmlAndCss::after {
  content: "";
  width: 92%;
  height: 10px;
  border-radius: 15px;
  background: #333333;
  position: absolute;
  bottom: -27px;
  left: 3px;
}

.javascript::after {
  content: "";
  width: 65%;
  height: 10px;
  border-radius: 15px;
  background: #333333;
  position: absolute;
  bottom: -27px;
  left: 3px;
}

.react::after {
  content: "";
  width: 75%;
  height: 10px;
  border-radius: 15px;
  background: #333333;
  position: absolute;
  bottom: -27px;
  left: 3px;
}

.somethingElse::after {
  content: "";
  width: 75%;
  height: 10px;
  border-radius: 15px;
  background: #333333;
  position: absolute;
  bottom: -27px;
  left: 3px;
}

.portfolio h3 {
  text-align: center;
  position: relative;
}

.portfolio h3::before {
  content: "";
  height: 5px;
  width: 6%;
  background-color: #6F6F6F;
  position: absolute;
  top: -10px;
  left: 47%;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
}
.galleryContainer li {
  width: calc((100% - 30px) / 2);
  margin-right: 30px;
}
.galleryContainer li img {
  width: 100%;
}
.galleryContainer li:nth-child(2n) {
  margin-right: 0;
}
.galleryContainer li:nth-child(-n+2) {
  margin-bottom: 30px;
}

.contact {
  background-image: url(../assets/IMG_6479m.jpg);
  background-size: cover;
  height: 40vh;
  color: white;
}

.contact h3 {
  color: white;
  text-align: center;
  padding: 75px;
}

.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact i {
  font-size: 4rem;
}